repos:
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
    -   id: black
        language_version: python3.9
-   repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
    -   id: isort
        name: isort
        args:
        - --project langworld_db_pyramid  # otherwise in tests isort will put it with 3rd-party packages, ignoring pyproject.toml
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
#        additional_dependencies:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.14.2'
    hooks:
    -   id: ruff
        name: ruff
        args:
        - --fix
exclude: langworld_db_pyramid/alembic
