[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "==2.1.1"
pyramid = "==2.0"
openpyxl = "*"
babel = "*"
pyyaml = "*"
toml = "*"
clldutils = "*"
flake8 = "*"
yapf = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.9"
