#map-default {
  position: relative;
  height: 86vh;
  width: 100%;
  border-radius: 8px;
  z-index: 0;
}

div .scrollable {
  height: 86vh;
  overflow: auto;
}

.legend-heading {
  font-family:"Bitter",Arial,sans-serif;
  font-size: 1.2rem;
  margin-bottom: -1rem;
}

.genealogy-subheading {
  margin-top: -10px !important;
}

p.indented-for-icon {
  line-height: 2.4rem;
  padding-bottom: 0.5rem;
  padding-left: 40px;
  text-indent: -40px;
}

ul.doculects-in-group {
  margin-left: 1.6rem;
  margin-top: 0.5rem;
}

img.icon-in-map-legend:hover {
  cursor: pointer;
  filter: alpha(opacity=90);
  opacity: .9;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}