{% extends "base.jinja2" %}

{% block content %}

{% set name_attr = "name_" + request.locale_name %}
{% set aliases_attr = "aliases_" + request.locale_name %}

<div class="content">
    <h1 class="w3-text-teal">{% trans %}Карта языков{% endtrans %}</h1>
      <div id="map-default"></div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<script src="{{ request.static_url('langworld_db_pyramid:static/js/doculectMapAll.js') }}" type="module"></script>

{% endblock content %}
