{% extends "base.jinja2" %}
{% set name_attr = "name_" + request.locale_name %}
{% set aliases_attr = "aliases_" + request.locale_name %}

{% block custom_css %}
<link href="{{request.static_url('langworld_db_pyramid:static/css/doculect-finder.css')}}" rel="stylesheet">
<link href="{{request.static_url('langworld_db_pyramid:static/css/map-and-interactive-list.css')}}" rel="stylesheet">
{% endblock custom_css %}

{% block content_top %}
<div class="w3-twothird w3-container negative-margin-bottom">
  <h1 class="w3-text-dark-blue-grey">{% trans %}Список языков{% endtrans %}</h1>
</div>
{% endblock content_top %}

{% block content %}
<div class="w3-margin-left">
  <p>{% trans %}В списке представлены языки и диалекты, для которых заполнены рефераты{% endtrans %} (<strong>{{ doculects|length }}</strong>).</p>

  <div class="w3-margin-bottom">
    <span class="slider-label w3-text-dark-blue-grey">{% trans %}Единый список{% endtrans %}</span>
    <label class="switch">
        <input id="alphabetic-or-by-volume-toggle" type="checkbox">
        <span class="slider round"></span>
    </label>
    <span class="slider-label w3-text-dark-blue-grey">{% trans %}С группировкой по томам{% endtrans %}</span>
  </div>

  <div id="alphabetic">
    <ul class="w3-ul">
    {% for item in doculects %}
        <li><a href="/{{ request.locale_name }}/doculect/{{ item.man_id }}"><strong>{{ item[name_attr] }}</strong></a> {% if item[aliases_attr] %}({{ item[aliases_attr] }}){% endif %} </li>
    {% endfor %}
    </ul>
  </div>

  <div id="by-volume" class="w3-hide">
    {% for volume in volumes %}
      <h3 class="w3-text-darkest-blue-grey">{% trans %}Том{% endtrans %} {{ volume.id }}. {{ volume[request.locale_name] }}</h2>
      <ul class="w3-ul">
        {% for item in volume.doculects|sort(attribute=name_attr)|selectattr("has_feature_profile") %}
          <li><a href="/{{ request.locale_name }}/doculect/{{ item.man_id }}"><strong>{{ item[name_attr] }}</strong></a> {% if item[aliases_attr] %}({{ item[aliases_attr] }}){% endif %} </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

</div>
{% endblock content %}

{% block one_third %}
  <div id="doculect-finder-container" class="w3-border w3-padding-16 w3-round-medium">
    <div id="doculect-finder-form"></div>
    <div id="doculect-finder-list"></div>
  </div>
{% endblock one_third %}

{% block scripts %}
  {% if request.registry.settings['react_script_type'] == 'development' %}
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  {% else %}
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
  {% endif %}
  <script src="{{ request.static_url('langworld_db_pyramid:static/js/doculectListForm.js') }}" type="module"></script>
  <script src="{{ request.static_url('langworld_db_pyramid:static/js/toggleGroupingInAllDoculectsList.js') }}" type="module"></script>
{% endblock scripts %}