{% extends "base.jinja2" %}

{% block content_top %}
<div class="w3-twothird w3-container">
  <h1 class="w3-text-dark-blue-grey">{% trans %}Признаки{% endtrans %}</h1>
</div>
{% endblock content_top %}

{% block content %}

{% set name_attr = "name_" + request.locale_name %}

<div class="w3-margin-left">
  {% for category in categories %}
      <h2 class="w3-text-darkest-blue-grey">{{ category[name_attr] }}</h2>
      <ul>
        {% for feature in category.features %}
        <li><a href="/{{ request.locale_name }}/feature/{{ feature.man_id }}">{{ feature[name_attr] }}</a> ({{ feature.man_id }})</li>
        {% endfor %}
      </ul>
  {% endfor %}

</div>
{% endblock content %}
