{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">{% trans %}Список языков{% endtrans %}</span></h1>

  <div id="doculect-finder-form"></div>
  <div id="doculect-finder-list"></div>

  <ul>
  {% for item in doculects %}
      {% set name_attr = "name_" + request.locale_name %}
      {% set aliases_attr = "aliases_" + request.locale_name %}

      <li><a href="doculect/{{ item.man_id }}">{{ item[name_attr] }}</a> {% if item[aliases_attr] %}({{ item[aliases_attr] }}){% endif %} </li>
  {% endfor %}
  </ul>

</div>


    <script src="{{ request.static_url('langworld_db_pyramid:static/js/doculectListForm.js') }}" type="module"></script>

{% endblock content %}
