{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Starter project</span></h1>
  <p class="lead">Welcome to <span class="font-normal">{{project}}</span>, a&nbsp;Pyramid application generated&nbsp;by<br><span class="font-normal">Cookiecutter</span>.</p>

  <div id="doculect-finder-form"></div>
  <div id="doculect-finder-list"></div>

  <h2>{% trans %}Список языков{% endtrans %}</h2>
  <ul>
  {% for item in doculects %}
      {% set name_attr = "name_" + request.locale_name %}
      {% set aliases_attr = "aliases_" + request.locale_name %}

      <li><a href="doculect/{{ item.man_id }}">{{ item[name_attr] }}</a> {% if item[aliases_attr] %}({{ item[aliases_attr] }}){% endif %} </li>
  {% endfor %}
  </ul>

</div>


    <script src="{{ request.static_url('langworld_db_pyramid:static/js/doculectListForm.js') }}" type="module"></script>

{% endblock content %}
