{% extends "base_depth1_twothird_and_onethird.jinja2" %}

{% block title %}{% trans %}Признаки{% endtrans %}{% endblock title %}
{% block h1 %}{{ self.title() }}{% endblock h1 %}

{% block two_thirds %}
{% set name_attr = "name_" + request.locale_name %}

<div class="w3-margin-left">
  {% for category in categories %}
      <h2 class="w3-text-darkest-blue-grey">{{ category[name_attr] }}</h2>
      <ul class="w3-ul">
        {% for feature in category.features %}
        <li><span class="w3-text-dark-blue-grey w3-medium">[{{ feature.man_id }}]</span> <a href="/{{ request.locale_name }}/feature/{{ feature.man_id }}">{{ feature[name_attr] }}</a></li>
        {% endfor %}
      </ul>
  {% endfor %}
</div>
{% endblock two_thirds %}
