{% extends "base.jinja2" %}

{% block content_main %}
  <div class="w3-row w3-padding-top-16">
    <div class="w3-container">
      {% block full_width %}
      {% endblock full_width %}
    </div>
  </div>
{% endblock content_main %}
