<!DOCTYPE html>
<html lang="{{request.locale_name}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Languages of the World Database">
        <meta name="author" content="Institute of Linguistics, Russian Academy of Sciences">
        <link rel="shortcut icon" href="{{request.static_url('langworld_db_pyramid:static/images/favicon.png')}}">

        <title>{% trans %}БД «Языки мира»{% endtrans %}: {% block title %}{% endblock title %}</title>

        <link href="{{request.static_url('langworld_db_pyramid:static/css/w3.css')}}" rel="stylesheet">
        <link href="{{request.static_url('langworld_db_pyramid:static/css/w3-theme-blue-grey.css')}}" rel="stylesheet">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter&family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <style>
            .w3-sidebar {
              z-index: 3;
              width: 250px;
              top: 43px;
              bottom: 0;
              height: inherit;
            }
        </style>

        {% block custom_css %}
        {% endblock custom_css %}


    </head>

    <body>

    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>

        {% if request.locale_name == 'ru' %}
            {% set link_text = "Switch to English" %}
            {% if '/ru/' in request.url %}
                {% set target = request.url.replace('/ru/', '/en/') %}
            {% elif request.url == request.host_url + "/" %}
                {% set target = request.host_url + "/en/home" %}
            {% else %}
                {% set target = request.host_url + "/en" + request.url.replace(request.host_url, "") %}
            {% endif %}
        {% else %}
            {% set link_text = "Русская версия" %}
            {% set target = request.url.replace('/en/', '/ru/') %}
        {% endif %}

        <a href="{{target}}" class="w3-bar-item w3-button w3-theme-l1 w3-right">{{ link_text }}</a>

        <a href="/{{request.locale_name}}/home" class="w3-bar-item w3-button w3-hide-small w3-hover-white">{% trans %}Главная{% endtrans %}</a>
        <a href="/{{request.locale_name}}/doculects/list" class="w3-bar-item w3-button w3-hide-small w3-hover-white">{% trans %}Список языков{% endtrans %}</a>
        <a href="/{{request.locale_name}}/doculects/map" class="w3-bar-item w3-button w3-hide-small w3-hover-white">{% trans %}Карта языков{% endtrans %}</a>
        <a href="/{{request.locale_name}}/features/list" class="w3-bar-item w3-button w3-hide-small w3-hover-white">{% trans %}Признаки{% endtrans %}</a>
        <a href="/{{request.locale_name}}/family/_all" class="w3-bar-item w3-button w3-hide-small w3-hover-white">{% trans %}Генеалогия{% endtrans %}</a>
        <a href="/{{request.locale_name}}/query_wizard" class="w3-bar-item w3-button w3-hide-small w3-hover-white">{% trans %}Мастер запросов{% endtrans %}</a>

<!--
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">News</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Clients</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Partners</a>
-->
      </div>
    </div>

    <!-- Sidebar -->

    <div class="w3-main">
      <div class="w3-row w3-padding-top-32 w3-margin-left">
        {% block h1_container %}  {# add the ability to override the whole container if needed #}
          <div class="w3-col w3-container negative-margin-bottom">
            <h1 class="w3-text-dark-blue-grey">
              {% block h1 %}
              {% endblock h1 %}
            </h1>
          </div>
        {% endblock h1_container %}

        {% block content_top %}
        {% endblock content_top %}
      </div>

      {% block map_and_list %}
      {% endblock map_and_list %}

      {% block content_main %}
      {% endblock content_main %}

<!-- NOT NEEDED
      <div class="w3-row">
        <div class="w3-twothird w3-container">
        </div>
        <div class="w3-third w3-container">
          <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
          <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
        </div>
      </div>
-->

<!-- NOT NEEDED
      <div class="w3-row w3-padding-64">
        <div class="w3-third w3-container">
          <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
          <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
        </div>
      </div>
-->

      <!-- Pagination -->

<!-- NOT NEEDED
      <div class="w3-center w3-padding-32">
        <div class="w3-bar">
          <a class="w3-button w3-black" href="#">1</a>
          <a class="w3-button w3-hover-black" href="#">2</a>
          <a class="w3-button w3-hover-black" href="#">3</a>
          <a class="w3-button w3-hover-black" href="#">4</a>
          <a class="w3-button w3-hover-black" href="#">5</a>
          <a class="w3-button w3-hover-black" href="#">&raquo;</a>
        </div>
      </div>
-->

      <footer id="myFooter">
        <div class="w3-container w3-theme-l2 w3-padding-32">
          <p class="w3-large w3-text-darkest-blue-grey">{% trans %}База данных «Языки мира»{% endtrans %} <a href="https://iling-ran.ru/web/{{ request.locale_name }}" target="_blank">{% trans %}Института языкознания РАН{% endtrans %}</a></p>
        </div>

        <div class="w3-container w3-theme-l1">
          <p><a href="http://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license"><img alt="Creative Commons License" data-entity-type="" data-entity-uuid="" src="https://i.creativecommons.org/l/by/4.0/88x31.png" style="border-width:0" /></a></p>
        </div>
      </footer>

    <!-- END MAIN -->
    </div>

    <script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
      }
    }

    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
    }
    </script>

    {% block scripts %}
    {% endblock scripts %}

      {# The following script forces Firefox to run scripts on a page
      even if user returns to that page using Back button.
      I use simple `.onunload` because it is highly unlikely
      that this event will be used for a different purpose.
      It gives uniformity in behavior between Chrome and Firefox. #}
    <script type="text/javascript">window.onunload = function () {};</script>

    </body>
</html>
