<!DOCTYPE html>
<html lang="{{request.locale_name}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Languages of the World Database">
        <meta name="author" content="Institute of Linguistics, Russian Academy of Sciences">
        <link rel="shortcut icon" href="{{request.static_url('langworld_db_pyramid:static/images/favicon.png')}}">

        <title>{% trans %}БД «Языки мира»{% endtrans %}: {% block title %}{% endblock title %}</title>

        <link href="{{request.static_url('langworld_db_pyramid:static/css/w3.css')}}" rel="stylesheet">
        <link href="{{request.static_url('langworld_db_pyramid:static/css/w3-theme-blue-grey.css')}}" rel="stylesheet">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter&family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <style>
            .w3-sidebar {
              z-index: 3;
              width: 250px;
              top: 43px;
              bottom: 0;
              height: inherit;
            }
        </style>

        {% block custom_css %}
        {% endblock custom_css %}


    </head>

    <body>

    <!-- Navbar -->
    {% macro nav_links_except_for_language_switch(css_class) -%}
        <a href="{{ request.route_path('home_localized', locale=request.locale_name) }}" class="{{ css_class }}">{% trans %}Главная{% endtrans %}</a>
        <a href="{{ request.route_path('all_doculects_list_localized', locale=request.locale_name) }}" class="{{ css_class }}">{% trans %}Список языков{% endtrans %}</a>
        <a href="{{ request.route_path('all_doculects_map_localized', locale=request.locale_name) }}" class="{{ css_class }}">{% trans %}Карта языков{% endtrans %}</a>
        <a href="{{ request.route_path('all_features_list_localized', locale=request.locale_name) }}" class="{{ css_class }}">{% trans %}Признаки{% endtrans %}</a>
        <a href="{{ request.route_path('families_localized', locale=request.locale_name, family_man_id='_all') }}" class="{{ css_class }}">{% trans %}Генеалогия{% endtrans %}</a>
        <a href="{{ request.route_path('query_wizard_localized', locale=request.locale_name) }}" class="{{ css_class }}">{% trans %}Мастер запросов{% endtrans %}</a>
    {% endmacro %}
    
    <div class="w3-top">
      <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="openMenu()"><i class="fa fa-bars"></i></a>

        {% if request.locale_name == 'ru' %}
            {% set link_text = "Switch to English" %}
            {% if '/ru/' in request.url %}
                {% set target = request.url.replace('/ru/', '/en/') %}
            {% elif request.url == request.host_url + "/" %}
                {% set target = request.host_url + "/en/home" %}
            {% else %}
                {% set target = request.host_url + "/en" + request.url.replace(request.host_url, "") %}
            {% endif %}
        {% else %}
            {% set link_text = "Русская версия" %}
            {% set target = request.url.replace('/en/', '/ru/') %}
        {% endif %}

        <a href="{{target}}" class="w3-bar-item w3-button w3-theme-l1 w3-hide-small w3-right">{{ link_text }}</a>
        {{ nav_links_except_for_language_switch("w3-bar-item w3-button w3-hide-small w3-hover-white") }}
      </div>

      <!-- Navbar on small screens -->
      <div id="mobile-navigation-bar" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large w3-padding-top-48">
        {{ nav_links_except_for_language_switch("w3-bar-item w3-button w3-padding-large w3-sand") }}
        <a href="{{target}}" class="w3-bar-item w3-button w3-padding-large w3-sand">({{ link_text }})</a>
      </div>
    </div>

    <div class="w3-main">
      <div class="w3-row w3-padding-top-32 w3-margin-left">
        {% block h1_container %}  {# add the ability to override the whole container if needed #}
          <div class="w3-col w3-container negative-margin-bottom">
            <h1 class="w3-text-dark-blue-grey">
              {% block h1 %}
              {% endblock h1 %}
            </h1>
          </div>
        {% endblock h1_container %}

        {% block content_top %}
        {% endblock content_top %}
      </div>

      {% block map_and_list %}
      {% endblock map_and_list %}

      {% block content_main %}
      {% endblock content_main %}

      <footer id="myFooter">
        <div class="w3-container w3-theme-l2 w3-padding-32">
          <p class="w3-large w3-text-darkest-blue-grey">{% trans %}База данных «Языки мира»{% endtrans %} <a href="https://iling-ran.ru/web/{{ request.locale_name }}" target="_blank">{% trans %}Института языкознания РАН{% endtrans %}</a></p>
        </div>

        <div class="w3-container w3-theme-l1">
          <p><a href="https://github.com/lemontree210/langworld_db_pyramid" target="_blank"><img src="{{request.static_url('langworld_db_pyramid:static/images/github-mark-32px-light.png')}}" /></a>&nbsp;&nbsp;&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license"><img alt="Creative Commons License" data-entity-type="" data-entity-uuid="" src="https://i.creativecommons.org/l/by/4.0/88x31.png" style="border-width:0" /></a></p>
          {% block custom_footer_bottom %}
          {% endblock custom_footer_bottom %}
        </div>
      </footer>

    </div>

    <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function openMenu() {
      let x = document.getElementById("mobile-navigation-bar");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script>
    {% block scripts %}
    {% endblock scripts %}

      {# The following script forces Firefox to run scripts on a page
      even if user returns to that page using Back button.
      I use simple `.onunload` because it is highly unlikely
      that this event will be used for a different purpose.
      It gives uniformity in behavior between Chrome and Firefox. #}
    <script type="text/javascript">window.onunload = function () {};</script>

    </body>
</html>
