{% extends "base_depth1_twothird_and_onethird.jinja2" %}

{% block custom_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <link href="{{request.static_url('langworld_db_pyramid:static/css/map-and-interactive-list.css')}}" rel="stylesheet">
    <link href="{{request.static_url('langworld_db_pyramid:static/css/toggle-switch.css')}}" rel="stylesheet">
{% endblock custom_css %}

{% block map_and_list %}
    <div id="map-and-list"></div>
{% endblock map_and_list %}

{% block two_thirds %}
{# this <div> will be moved above the list using the script imported below #}
<div id="doculect-list-expand-collapse-container">
  <button id="doculect-list-expand-all-button" class="w3-button w3-theme-l3">{% trans %}Развернуть все{% endtrans %}</button>
  <button id="doculect-list-collapse-all-button" class="w3-button w3-theme-l3">{% trans %}Свернуть все{% endtrans %}</button>
  <details>
    <summary class="w3-margin-top w3-text-deep-orange w3-medium">{% trans %}Об интерактивном списке языков{% endtrans %}</summary>
    <ul class="w3-text-darkest-blue-grey w3-medium">
      <li>{% trans %}Список содержит{% endtrans %} <strong>{% trans %}только те языки, которые сейчас видны на карте{% endtrans %}</strong>. {% trans %}При движении или изменении масштаба карты он меняется{% endtrans %}.</li>
      <li>{% trans %}Чтобы развернуть/свернуть{% endtrans %} <strong>{% trans %}только одну группу{% endtrans %}</strong> {% trans %}языков, нажмите на цветной маркер перед её названием{% endtrans %}.</li>
    </ul>
  </details>
</div>
{% endblock two_thirds %}

{% block scripts %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

  {% if request.registry.settings['react_script_type'] == 'development' %}
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  {% else %}
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
  {% endif %}

<script src="{{ request.static_url('langworld_db_pyramid:static/js/setUpExpandCollapseInInteractiveList.js') }}" type="module"></script>
{% endblock scripts %}
