{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">{{ doculect.name_ru }}</span> {{ doculect.type.name_ru }}</h1>

    {% if doculect.aliases_ru %}
  <p class="lead">Альтернативные названия: <span class="font-normal">{{ doculect.aliases_ru }}</span></p>
    {% endif %}

  <p class="lead"><a href="{{ request.static_url('langworld_db_pyramid:static/pdf_volumes/11.pdf') }}" target="_blank">Открыть в энциклопедии</a></p>

  <p class="lead">Основная страна: <span class="font-normal">{{ doculect.main_country.name_ru }}</span></p>

  <h2>Идентификаторы</h2>

  {% if doculect.glottocodes or doculect.iso_639p3_codes %}
  <ul>
  {% endif %}

  {% if doculect.glottocodes %}
  <li class="lead">Glottolog:
    {% for glottocode in doculect.glottocodes|sort(attribute="code") %}
    <span class="font-normal"><a href="https://glottolog.org/resource/languoid/id/{{ glottocode.code }}" target="_blank">{{ glottocode.code }}</a></span>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </li>
  {% endif %}

  {% if doculect.iso_639p3_codes %}
  <li class="lead">ISO-639-3:
    {% for iso_code in doculect.iso_639p3_codes|sort(attribute="code") %}
    <span class="font-normal"><a href="https://iso639-3.sil.org/code/{{ iso_code.code }}" target="_blank">{{ iso_code.code }}</a></span>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </li>
  {% endif %}

  {% if doculect.glottocodes or doculect.iso_639p3_codes %}
  </ul>
  {% endif %}

  <h2>Признаки</h2>
  <ul>
  {% for value in doculect.feature_values|sort(attribute="feature.id") %}
    {% if not value.type.entails_empty_value %}
        <li>
            {{ value.feature.name_ru }} ({{ value.feature.man_id }}): {{ value.name_ru}} {%if value.man_id %}({{ value.man_id }}){% endif %}
            {% for comment in value.doculect_comments if comment.doculect == doculect %}<br/><span class="comment">{{ comment.text_ru }}</span>{% endfor %}
        </li>
    {% endif %}
  {% endfor %}
  </ul>

  <h3>Незаполненные признаки</h3>
  <ul>
  {% for value in doculect.feature_values|sort(attribute="feature.id") %}
    {% if value.type.entails_empty_value %}
        <li>
            {{ value.feature.name_ru }} ({{ value.feature.man_id }}): {{ value.type.name }}
            {% for comment in value.doculect_comments if comment.doculect == doculect %}<br/><span class="comment">{{ comment.text_ru }}</span>{% endfor %}
        </li>
    {% endif %}
  {% endfor %}
  </ul>

  <p class="lead">{{ doculect.comment_ru }}</p>

</div>
{% endblock content %}
