{% extends "base_depth1_single_full_width.jinja2" %}
{% set name_attr = "name_" + request.locale_name %}
{% set aliases_attr = "aliases_" + request.locale_name %}

{% macro comment(value, add_parentheses_and_note=False) -%}
    {# comments are only available in Russian so far #}
    {% if request.locale_name == 'ru' %}
        {% for comment in value.doculect_comments if comment.doculect == doculect %}
          <span class="w3-text-dark-blue-grey">
            {%- if loop.first and add_parentheses_and_note %}(Комментарий: {% endif -%}
            {{ comment.text_ru }}
            {%- if loop.last and add_parentheses_and_note %}){% endif -%}
          </span>
        {% endfor %}
    {% endif %}
{%- endmacro %}

{% macro list_features_with_empty_values(doculect, value_type) -%}
    <ul class="w3-ul">
      {% for value in doculect.feature_values|sort(attribute="feature.id") %}
        {% if value.type.name == value_type %}
            <li>
                <span class="w3-text-dark-blue-grey w3-medium">[{{ value.feature.man_id }}]</span> <a href="/{{ request.locale_name }}/feature/{{ value.feature.man_id }}">{{ value.feature[name_attr] }}</a>
                {{ comment(value, add_parentheses_and_note=True) }}
            </li>
        {% endif %}
      {% endfor %}
    </ul>
{%- endmacro %}


{% block title %}{{ doculect[name_attr] }} {{ doculect.type[name_attr] }} {% if doculect.is_extinct %}†{% endif %}{% endblock title %}
{% block h1 %}{{ self.title() }}{% endblock h1 %}

{% block full_width %}

<div class="w3-margin-left padding-top-small">
    {% if doculect[aliases_attr] %}
      <p><span class="w3-text-darkest-blue-grey"><strong>{% trans %}Варианты названия (в т.ч. исторические и самоназвания){% endtrans %}</strong></span>: {{ doculect[aliases_attr] }}</p>
    {% endif %}
  <hr/>
  <h2 class="w3-text-darkest-blue-grey">{% trans %}В энциклопедии{% endtrans %}</h2>
  {% if doculect.encyclopedia_volume.file_name %}
    <p><a href="https://iling-ran.ru/staff_only/langworld_proto/static/pdf_volumes/{{ doculect.encyclopedia_volume.file_name }}#page={{ doculect.page|int + doculect.encyclopedia_volume.pagenum_offset|int }}" target="_blank"><span class="w3-large"><strong>{% trans %}Том{% endtrans %} {{ doculect.encyclopedia_volume.id }}. {{ doculect.encyclopedia_volume[request.locale_name] }}</strong></span></a><br/>
    {% trans %}Файл PDF будет загружен полностью и затем открыт{% endtrans %} <strong>{% trans %}в новом окне{% endtrans %}</strong> {% trans %}на нужной странице{% endtrans %}.</p>
  {% else %}
    <p><span class="w3-large">{% trans %}Том{% endtrans %} {{ doculect.encyclopedia_volume.id }}. {{ doculect.encyclopedia_volume[request.locale_name] }}</span><br/>
    <span class="w3-text-deep-orange">{% trans %}Том энциклопедии в формате PDF на данный момент недоступен{% endtrans %}</span>.</p>
  {% endif %}

  <h2 class="w3-text-darkest-blue-grey">{% trans %}Генеалогия{% endtrans %}</h2>
  <p>
  {# this loop is a workaround of absence of recursive if's. I have to make a one-item list to be able to loop #}
  {% for parent in [doculect.family.parent] recursive %}
    {% if parent != None %}
        {{ loop([parent.parent]) }}  {# I need to start at the top, so recursion comes first #}
        <a href="/{{ request.locale_name }}/family/{{ parent.man_id }}?show_doculect={{ doculect.man_id }}">{{ parent[name_attr] }}</a> &rarr;
    {% endif %}
  {% endfor %}
  <a href="/{{ request.locale_name }}/family/{{ doculect.family.man_id }}?show_doculect={{ doculect.man_id }}">{{ doculect.family[name_attr] }}</a>
  </p>

  <h2 class="w3-text-darkest-blue-grey">{% trans %}География{% endtrans %}</h2>
    <p>{% trans %}Основная страна{% endtrans %}: <span class="font-normal">{{ doculect.main_country[name_attr] }}</span>
    (<a href="/{{ request.locale_name }}/doculects/map?lat={{ doculect.latitude }}&long={{ doculect.longitude }}&show_doculect={{ doculect.man_id }}"><strong>{% trans %}посмотреть на карте{% endtrans %}</strong></a>)
    </p>
    {% for encyclopedia_map in doculect.encyclopedia_maps %}
      {% if loop.first %}<h3 class="w3-text-darkest-blue-grey">{% trans %}Карты ареалов из энциклопедии{% endtrans %}</h3>
      <ul>{% endif %}
      <li><a href="https://iling-ran.ru/library/langworld/maps/{{ encyclopedia_map.file_name }}" target="_blank">{{ encyclopedia_map[request.locale_name] }}</a></li>
      {% if loop.last -%}</ul>
      <p><span class="w3-text-dark-blue-grey">{% trans %}Автор карт{% endtrans %}: <a href="https://iling-ran.ru/web/{{ request.locale_name }}/scholars/koryakov" target="_blank">{% trans %}Ю. Б. Коряков{% endtrans %}</a></span></p>
      {%- endif -%}
    {% endfor %}

  {% if doculect.glottocodes or doculect.iso_639p3_codes %}
      <h2 class="w3-text-darkest-blue-grey">{% trans %}Идентификаторы{% endtrans %}</h2>
      <ul>

      {% if doculect.glottocodes %}
      <li>Glottolog:
        {% for glottocode in doculect.glottocodes|sort(attribute="code") %}
        <span class="font-normal"><a href="https://glottolog.org/resource/languoid/id/{{ glottocode.code }}" target="_blank">{{ glottocode.code }}</a></span>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </li>
      {% endif %}

      {% if doculect.iso_639p3_codes %}
      <li>ISO-639-3:
        {% for iso_code in doculect.iso_639p3_codes|sort(attribute="code") %}
        <span class="font-normal"><a href="https://iso639-3.sil.org/code/{{ iso_code.code }}" target="_blank">{{ iso_code.code }}</a></span>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </li>
      {% endif %}

      </ul>
  {% endif %}

  <hr/>
  <h2 class="w3-text-darkest-blue-grey">{% trans %}Признаки{% endtrans %}</h2>

  {% for category in categories %}
      <h3 class="w3-text-darkest-blue-grey {% if not loop.first %}w3-padding-top-24{% endif %}">{{ category[name_attr] }}</h3>
      {% set values_to_list = doculect.feature_values|selectattr("feature.category.id", "eq", category.id)|selectattr("type.entails_empty_value", "false")|sort(attribute="feature.id") %}

      {% if not values_to_list %}<p>{% trans %}Нет заполненных признаков для этого языка.{% endtrans %}</p>
      {# I realise that ^ this message ^ will not show in English version if a category only contains
      'custom' values for this doculect.  An empty list will be rendered instead.
      But this is a rare situation and custom values should not stay for too long anyway. #}

      {% else %}
      <div class="feature-category-table-container">
        <table class="w3-table w3-bordered w3-margin-bottom">
          <colgroup>
            <col style="width:5%">
            <col style="width:30%">
            <col style="width:40%">
            <col style="width:25%">
          </colgroup>
          <tbody>
          {% for value in values_to_list %}
            {% if not (request.locale_name == 'en' and value.type.name == 'custom') %}
                <tr>
                    <td class="w3-text-dark-blue-grey w3-medium">[{{ value.feature.man_id.replace('-', '‑') }}]</td>  {# replace simple hyphen with non-breaking hyphen #}
                    <td>
                    <a href="/{{ request.locale_name }}/feature/{{ value.feature.man_id }}{% if value.type.name=='listed' %}?show_doculect={{ doculect.man_id}}{% endif %}">
                        <strong>{{ value.feature[name_attr] }}</strong></a>
                    </td>
                    <td>{{ value[name_attr]}}{%if value.man_id %}&nbsp;<span class="w3-text-dark-blue-grey w3-small">[{{ value.man_id.replace('-', '‑') }}]</span>{% endif %}</td>
                    <td>{{ comment(value) }}</td>  {# calls macro defined above #}
                </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
  {% endfor %}

  <h2 class="w3-text-darkest-blue-grey w3-padding-top-32">{% trans %}Незаполненные признаки{% endtrans %}</h2>
  {# I don't want to eliminate repetition completely to maintain readability and understanding of structure: #}

  {% if doculect.feature_values|selectattr("type.name", "eq", "not_stated")|list %}
      <h3 class="w3-text-darkest-blue-grey">{% trans %}В энциклопедии отсутствует информация{% endtrans %}</h3>
      {{ list_features_with_empty_values(doculect, "not_stated") }}
  {% endif %}

  {% if doculect.feature_values|selectattr("type.name", "eq", "explicit_gap")|list %}
      <h3 class="w3-text-darkest-blue-grey">{% trans %}В энциклопедии присутствует явное указание на отсутствие данных{% endtrans %}</h3>
      {{ list_features_with_empty_values(doculect, "explicit_gap") }}
  {% endif %}

  {% if doculect.feature_values|selectattr("type.name", "eq", "not_applicable")|list %}
      <h3 class="w3-text-darkest-blue-grey">{% trans %}Признак неприменим к этому языку{% endtrans %}</h3>
      {{ list_features_with_empty_values(doculect, "not_applicable") }}
  {% endif %}

  {% if request.locale_name == 'ru' %}
    <p class="w3-large w3-text-dark-blue-grey">{{ doculect.comment_ru }}</p>
  {% endif %}

</div>
{% endblock full_width %}
