{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">{{ doculect.name_ru }}</span> {{ doculect.type.name_ru }}</h1>

    {% if doculect.aliases_ru %}
  <p class="lead">Альтернативные названия: <span class="font-normal">{{ doculect.aliases_ru }}</span></p>
    {% endif %}

  <p class="lead"><a href="{{ request.static_url('langworld_db_pyramid:static/pdf_volumes/11.pdf') }}" target="_blank">Открыть в энциклопедии</a></p>

  <p class="lead">Основная страна: <span class="font-normal">{{ doculect.main_country.name_ru }}</span></p>

  <h2>Признаки</h2>
  <ul>
  {% for value in doculect.feature_values|sort(attribute="feature.id") %}
    {% if not value.type.entails_empty_value %}
        <li>
            {{ value.feature.name_ru }} ({{ value.feature.man_id }}): {{ value.name_ru}} {%if value.man_id %}({{ value.man_id }}){% endif %}
            {% for comment in value.doculect_comments if comment.doculect == doculect %}<br/><span class="comment">{{ comment.text_ru }}</span>{% endfor %}
        </li>
    {% endif %}
  {% endfor %}
  </ul>

  <h3>Незаполненные признаки</h3>
  <ul>
  {% for value in doculect.feature_values|sort(attribute="feature.id") %}
    {% if value.type.entails_empty_value %}
        <li>
            {{ value.feature.name_ru }} ({{ value.feature.man_id }}): {{ value.type.name }}
            {% for comment in value.doculect_comments if comment.doculect == doculect %}<br/><span class="comment">{{ comment.text_ru }}</span>{% endfor %}
        </li>
    {% endif %}
  {% endfor %}
  </ul>

</div>
{% endblock content %}
