{% extends "base_depth2_page_with_map.jinja2" %}

{% set name_attr = "name_" + request.locale_name %}

{% block title %}
  {% if family == None %}
    {% trans %}Генеалогия{% endtrans %}
  {% else %}
    {% if doculect_in_focus == None %}
      {{ family[name_attr] }} {% trans %}языки{% endtrans %}
    {% else %}
      {# capitalize is a macro defined in base.jinja2 #}
      {{ capitalize(doculect_in_focus[name_attr]) }} {% trans %}и другие{% endtrans %} {% if request.locale_name == 'ru' %}{{ family[name_attr].lower() }}{% else %}{{ family[name_attr] }}{% endif %} {% trans %}языки{% endtrans %}
    {% endif %}
  {% endif %}
{% endblock title %}
{% block h1 %}{{ self.title() }}{% endblock h1 %}

{% block content_top %}

<div class="w3-twothird w3-container">

  <div class="w3-section genealogy-subheading">
    <span class="w3-text-darkest-blue-grey w3-large">
      {# "Navigation" just below the heading displaying families of higher levels than current one #}
      {% if family != None %}
          {# this loop is a workaround of absence of recursive if's. I have to make a one-item list to be able to loop #}
          {% for parent in [family.parent] recursive %}
            {% if parent != None %}
                {{ loop([parent.parent]) }}  {# I need to start at the top, so recursion comes first #}
                <a href="{{ request.route_path('families_localized', locale=request.locale_name, family_man_id=parent.man_id) }}">{{ parent[name_attr] }}</a> &rarr;
            {% else %}
                <a href="{{ request.route_path('families_localized', locale=request.locale_name, family_man_id='_all') }}">{% trans %}Все языки{% endtrans %}</a> &rarr;
            {% endif %}
          {% endfor %}
          <strong>{{ family[name_attr] }}</strong>
      {% else %}<strong>{% trans %}Все языки{% endtrans %}</strong>
      {% endif %}
    </span>
  <span class="w3-right w3-margin-right">
    <span class="slider-label w3-text-dark-blue-grey">{% trans %}Карта{% endtrans %}</span>
    <label class="switch">
        <input id="map-tree-toggle" type="checkbox">
        <span class="slider round"></span>
    </label>
    <span class="slider-label w3-text-dark-blue-grey">{% trans %}Подробное дерево{% endtrans %}</span>
  </span>
  </div>

</div>

{% endblock content_top %}

{% block map_and_list %}
    <div id="map-and-list"></div>

    <div id="tree" class="w3-margin-left w3-hide">
      {% if family != None %}
          {% for doculect in family.doculects|selectattr("has_feature_profile")|list|sort(attribute=name_attr) %}
              {% if loop.first %}
                  <h2 class="w3-text-darkest-blue-grey">{{ icon_for_family[family].img_tag|safe }}{{ family[name_attr] }} ({% trans %}без деления на подсемьи{% endtrans %})</h2>
                  <ul>
              {% endif %}
                  <li><a href="{{ request.route_path('doculect_profile_localized', locale=request.locale_name, doculect_man_id=doculect.man_id) }}">{{ doculect[name_attr] }}</a></li>
              {% if loop.last %}
                  </ul>
              {% endif %}
          {% endfor %}
      {% endif %}

      {% for subfamily in subfamilies recursive %}
        {% if loop.first and loop.depth == 1 and family != None%}<h2 class="w3-text-darkest-blue-grey">{% trans %}Языки, принадлежащие к подсемьям выбранной семьи{% endtrans %}</h2>{% endif %}
        {% if loop.first %}<ul>{% endif %}
        {% if subfamily.has_doculects_with_feature_profiles() %} {# This check is needed for recursive calls #}
            <li>
                {% if loop.depth == 1 %}{{ icon_for_family[subfamily].img_tag|safe }}{% endif %}
                <a href="{{ request.route_path('families_localized', locale=request.locale_name, family_man_id=subfamily.man_id) }}">{{ subfamily[name_attr] }}</a>

                {{ loop(subfamily.children) }}

                {% for doculect in subfamily.doculects|selectattr("has_feature_profile")|list|sort(attribute=name_attr) %}
                    {% if loop.first %}<ul>{% endif %}
                    <li><a href="{{ request.route_path('doculect_profile_localized', locale=request.locale_name, doculect_man_id=doculect.man_id) }}">{{ doculect[name_attr] }}</a></li>
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
            </li>
        {% endif %}
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

    </div>
{% endblock map_and_list %}

{% block scripts %}
    {{ super() }}
    <script src="{{ request.static_url('langworld_db_pyramid:static/js/doculectMapForFamily.js') }}" type="module"></script>
    <script src="{{ request.static_url('langworld_db_pyramid:static/js/toggleMapAndTree.js') }}" type="module"></script>
{% endblock scripts %}