{% extends "page_with_map.jinja2" %}

{% block content_top %}
<div class="w3-col w3-container">
    <h1 class="w3-text-dark-blue-grey">{{ feature_name }} ({{ man_id }})</h1>
</div>
{% endblock content_top %}

{% block content %}

{# this <div> will be moved above the list using the script imported below #}
<div id="doculects-in-list-toggle-container">
  <span>Списки языков</span>
  <label class="switch">
    <input id="doculects-in-list-toggle" type="checkbox">
    <span class="slider round"></span>
  </label>
  <span>Только легенда</span>
</div>

{% endblock content %}

{% block scripts %}
{{ super() }}
<script src="{{ request.static_url('langworld_db_pyramid:static/js/doculectMapForFeature.js') }}" type="module"></script>
<script src="{{ request.static_url('langworld_db_pyramid:static/js/toggleDoculectsInInteractiveList.js') }}" type="module"></script>
{% endblock scripts %}
