{% extends "base_depth2_page_with_map.jinja2" %}

{% set name_attr = "name_" + request.locale_name %}

{% block title %}
  {% if doculect_in_focus == None %}
    {{ feature_name }} ({{ man_id }})
  {% else %}
    {# capitalize is a macro defined in base.jinja2 #}
    {{ capitalize(doculect_in_focus[name_attr]) }} {{ doculect_in_focus.type[name_attr] }} {% trans %}на карте значений признака{% endtrans %} {{ man_id }}: {{ feature_name }}
  {% endif %}
{% endblock title %}

{% block h1 %}{{ self.title() }}{% endblock h1 %}

{% block map_and_list %}
    {% if description %}
        <div class="feature-description" id="feature-description">
            <details title="Click to expand">
                <summary class="w3-text-deep-orange w3-large"><strong>{% trans %}Описание признака и значений{% endtrans %}</strong></summary>
                <span class="feature-description">{{ description | safe }}</span>
            </details>
        </div>
    {% endif %}
    <div id="map-and-list"></div>
{% endblock map_and_list %}


{% block scripts %}
{{ super() }}
<script src="{{ request.static_url('langworld_db_pyramid:static/js/doculectMapForFeature.js') }}" type="module"></script>
{% endblock scripts %}
