{% extends "base.jinja2" %}

{% block content %}

{% set name_attr = "name_" + request.locale_name %}

<div class="content">
  <h1 class="w3-text-teal">{{ feature_name }} ({{ man_id }})</h1>

  <div id="map-default"></div>

  <h2>{% trans %}Значения признака (с сортировкой по убыванию числа языков){% endtrans %}</h2>

  <ul>
  {% for value in values%}
    <li>
        <img src="{{ icon_for_value[value].img_src }}"/> {{ value[name_attr] }} ({{ value.doculects|length }})
        <ul>
            {% for doculect in value.doculects|sort(attribute=name_attr) %}
            <li><a href="/{{ request.locale_name }}/doculect/{{ doculect.man_id }}">{{ doculect[name_attr] }}</a></li>
            {% endfor %}
        </ul>
    </li>
  {% endfor %}
  </ul>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<script src="{{ request.static_url('langworld_db_pyramid:static/js/doculectMapForFeature.js') }}" type="module"></script>

{% endblock content %}
