{% extends "base.jinja2" %}

{% block content %}
<div class="content">
  <h1 class="w3-text-teal">{% trans %}Генеалогия{% endtrans %}</h1>

  <div id="genealogy-tree"></div>

</div>
<script src="{{ request.static_url('langworld_db_pyramid:static/js/genealogy.js') }}" type="module"></script>
{% endblock content %}
