{% extends "base_depth1_single_full_width.jinja2" %}

{% block title %}{% trans %}Как пользоваться{% endtrans %}{% endblock title %}
{% block h1 %}{{ self.title() }}{% endblock h1 %}

{% block full_width %}
  <div class="w3-margin-left">
    <p>Энциклопедическая база данных и атлас «Языки мира онлайн» содержит <strong>формализованные описания языков </strong>из энциклопедического издания «Языки мира». Эти формализованные описания можно называть <em>рефератами статей</em> или <em>профилями языков</em>. Языки также представлены точками на разнообразных <strong>интерактивных картах</strong>, представляющих данные в удобном для восприятия формате.</p>

    <h2>Список, карта, профиль языка</h2>

    <p>Чтобы просто посмотреть, какие языки представлены в нашем проекте, вы можете посмотреть их в виде <a href="{{ request.route_path('all_doculects_list_localized', locale=request.locale_name) }}">общего списка</a> или <a href="{{ request.route_path('all_doculects_map_localized', locale=request.locale_name) }}">карты мира</a>.</p>

    <p>Вы можете выбрать любой язык и увидеть, как информация о языках представлена в базе данных (например, <a href="{{ request.route_path('doculect_profile_localized', locale=request.locale_name, doculect_man_id='russian') }}"> так выглядит профиль русского языка</a>). Все профили языков оформлены по единому принципу.</p>

    <p>Для большинства языков доступна опция просмотра исходной энциклопедической статьи (в формате PDF). Так вы можете сравнить формализованное описание с энциклопедической статьей, на базе которой оно было составлено.</p>

    <h2>Генеалогия</h2>

    <p>Языки также упорядочены по генеалогической принадлежности. В разделе <a href="{{ request.route_path('families_localized', locale=request.locale_name, family_man_id='_all') }}">«Языки: генеалогия»</a> вы увидите разделение языков по языковым семьям. Нажмите на название любой языковой семьи, чтобы попасть на следующий уровень детализации, где выбранная семья разбита на более дробные группы. Для некоторых семей это действие можно повторить несколько раз.</p>

    <h2>Признаки</h2>

    <p>Чтобы посмотреть на базу данных с другой стороны — от признаков, по которым категоризированы языки — перейдите в раздел <a href="{{ request.route_path('all_features_list_localized', locale=request.locale_name) }}">«Признаки»</a>. Страница каждого признака устроена одинаково: она содержит его текстовое описание и карту, на которой языки обозначены различными цветами в зависимости от значения, которое данный признак принимает для данного языка. Некоторые признаки устроены так, что для данного языка может быть выбрано сразу несколько его значений. Тогда маркеры языков могут выглядеть как кружки, состоящие из нескольких разноцветных сегментов.</p>

    <h2>Собственные запросы к базе данных</h2>

    <p>При помощи мастера запросов (раздел <a href="{{ request.route_path('query_wizard_localized', locale=request.locale_name) }}">{% trans %}«Запросы»{% endtrans %}</a>) вы можете формулировать свои запросы к базе данных, сочетая генеалогические и содержательные параметры (например, найти все иранские языки, в которых у глаголов есть форма будущего времени).</p>

    <h2>Остались вопросы?</h2>

    <p>{% trans %}С вопросами и комментариями о базе данных вы можете обращаться к разработчику{% endtrans %} <a href="https://iling-ran.ru/web/ru/scholars/kolomatskiy" target="_blank">{% trans %}Дмитрию Коломацкому{% endtrans %}↗</a>.</p>
  </div>
{% endblock full_width %}
