{% extends "page_with_map.jinja2" %}
{% set name_attr = "name_" + request.locale_name %}

{% block custom_css %}
  {{ super() }}
  <link href="{{request.static_url('langworld_db_pyramid:static/css/query-wizard.css')}}" rel="stylesheet">
  <link href="{{request.static_url('langworld_db_pyramid:static/css/slimselect.min.css')}}" rel="stylesheet">
{% endblock custom_css %}

{% block content_top %}
  <div class="w3-twothird w3-container">
    <h1 class="w3-text-dark-blue-grey">{% trans %}Мастер сложных запросов{% endtrans %}</h1>
  </div>

  <div class="w3-third w3-container" id="form-list-toggle-container">
    <span class="w3-text-dark-blue-grey">{% trans %}Форма запроса{% endtrans %}</span>
    <label class="switch">
        <input id="form-list-toggle" type="checkbox">
        <span class="slider round"></span>
    </label>
    <span class="w3-text-dark-blue-grey">{% trans %}Результаты{% endtrans %}</span>
    <button class="w3-right w3-text-dark-blue-grey" id="clear-selection">{% trans %}Сбросить выбор{% endtrans %}</button>
  </div>

{% endblock content_top %}

{% block map_and_list %}
    <div id="map-and-list"></div>
{% endblock map_and_list %}

{% block one_third %}

<div class="w3-third w3-container scrollable" id="query-wizard-form-container">
  <form id ="query-wizard-form">
  <h2 class="w3-text-darkest-blue-grey">{% trans %}Генеалогия{% endtrans %}</h2>
  <select id="family" multiple size="10">
  {% for family in families recursive %}
    {% if family.has_doculects_with_feature_profiles() %}
        <option value="{{ family.man_id }}">{{ " " * loop.depth0 }}{{ family[name_attr] }}</option>
        {{ loop(family.children) }}
    {% endif %}
  {% endfor %}
  </select>

  <h2 class="w3-text-darkest-blue-grey">{% trans %}Признаки{% endtrans %}</h2>
  {% for category in categories %}
      <div class="wrap-collapsible">
          <input id="{{ category.man_id }}" class="toggle" type="checkbox">
          <label for="{{ category.man_id }}" class="lbl-toggle">{{ category[name_attr] }}</label>
          <div class="collapsible-content">
            <div class="content-inner">
                {% for feature in category.features %}
                    <label>{{ feature[name_attr] }}</label><br/>
                    <select id="{{ feature.man_id }}" multiple>
                    {% for value in feature.values|selectattr("is_listed_and_has_doculects") %}
                        <option value="{{ value.man_id }}">{{ value[name_attr] }}</option>
                    {% endfor %}
                    </select><br/>
                {% endfor %}
             </div>
          </div>
      </div>

  {% endfor %}

  </form>

</div>
{% endblock one_third %}

{% block scripts %}
  {{ super() }}
  <script src="{{ request.static_url('langworld_db_pyramid:static/js/slimselect/slimselect.min.js') }}" type="module"></script>
  <script src="{{ request.static_url('langworld_db_pyramid:static/js/queryWizard.js') }}" type="module"></script>
  <script src="{{ request.static_url('langworld_db_pyramid:static/js/toggleListAndForm.js') }}" type="module"></script>
{% endblock scripts %}
